.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrapper {
    min-height: 50vh;
    display: flex;
    // align-items: center;
    &-inner {
      min-width: 100%;
      padding: 1rem;
    }
  }
}
